<div class="row align-items-center">
    <div class="col-lg-5">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= imageUrl %>" alt="" />
    </div>
    <div class="col-lg-7">
        <div class="text-left mb-4">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;"><%= title %></h5>
            <h1><%= title1 %></h1>
        </div>
        <p><%= body %></p>
        <a href="<%= linksTo %>" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
    </div>
</div>