<div class="carousel-item <% if(locals.active){%>active<%}%>" style="min-height: 300px;">
    <img class="position-relative w-100" src="<%=imageUrl%>" style="min-height: 300px; object-fit: cover;">
    <div class="carousel-caption d-flex align-items-center justify-content-center">
        <div class="p-5" style="width: 100%; max-width: 900px;">
            <h5 class="text-white text-uppercase mb-md-3"><%=title%></h5>
            <h1 class="display-3 text-white mb-md-4"><%=title1%></h1>
            <a href="<%=buttonLink%>" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2"><%=buttonText%></a>
        </div>
    </div>
</div>