<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <!-- <link rel="stylesheet" href="/app.css"> -->
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
  </head>
  <!-- Root -->
  <body>
    <%- include('./components/navbar') %>
    <!-- <%= route %> -->
    <% try { %> <%- include(`pages/${route}`, {params}) %> <% } catch (error) {
    %>
    <div
      class="error-window px-4 py-8 m-10 border border-gray-300 rounded-lg w-fit"
    >
      <div class="flex font-semibold text-2xl">
        Could not read view: '
        <div class="font-bold"><%= route %></div>
        '
      </div>
      <div class="font-light text-sm text-red-700"><%= error %></div>
    </div>
    <%}%>
    <%- include('./components/footer') %>

  </body>
</html>
